
[report]
omit =
    */python?.?/*
    */site-packages/nose/*
    */__pycache__/*
    *.pyc
    */usr/lib/python3/*
    */__init__.py
    */.pytest_cache/*
    */tests/*
    */home/geo/.local/share/virtualenvs/*
